{% extends 'index.html' %}
{% load static %}
{%  block content %}
    <h2>РЕГИСТРАЦИЯ</h2>
    <link rel="stylesheet" href="{% static 'css/maine.css' %}">
    <link rel="stylesheet" href="{% static 'css/podpiska.css' %}">
<body>

    <div class="forma">
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {% for one in regform %}
            <div>{{ one.label_tag }}</div>
            <div> {{ one }}</div>
            <div> {{ one.errors }}</div>
        {% endfor %}
        </table>
        <input type="submit" value="ОТПРАВИТЬ">
    </form>
</div>
</body>
{%  endblock content %}